@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-links-style {
    @apply flex gap-3 pr-10 rounded-full cursor-pointer p-3 hover:bg-zinc-800 transition-all;
  }
}


body {
  min-height: 100vh;
  width: 100%;
  background-color: #131314;
  font-family: "Outfit", sans-serif;
  color: white;
}

@keyframes loader {
  0% {
    background-position: -800px;
  }

  100% {
    background-position: 800px;
  }
}

.animate-loading {
  animation: loader 5s infinite linear;
}